.card-width {
    min-width: 300px;
}

.item-list {
    max-height: 500px;
    overflow-y:scroll;
}
.inventory-card {
    flex: 1 0 auto;
}
.list-item {
    padding: 3%;
    border-radius: 10px;
    margin-bottom: 1%;
}

.list-item:hover {
    cursor: pointer;
}

body.modal-open {
    overflow: hidden;
}

